<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Welcome to TinyApp</title>
  <style>
    /* Global Styles */
    body {
      /* Global styles here */
    }

    /* Header Styles */
    .navbar {
      /* Header styles here */
    }

    /* Main Content Styles */
    .main-content {
      /* Main content styles here */
    }

    h1 {
      color: #008080; /* Set color to blue */
    }

    /* Form Styles */
    .form-group {
      /* Form styles here */
    }

    input[type="text"],
    input[type="password"],
    textarea {
      /* Form input styles here */
    }

    button {
      /* Button styles here */
    }

    /* Footer Styles */
    .footer {
      /* Footer styles here */
    }

    /* Custom Styles for Index Page */
    .index-background {
      background-image: url('hello_there.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }
  </style>
</head>
<body>
  <body class="index-background"></body>
  <h1>Hello!</h1>
  <button onclick="location.href='/login'">Sign In</button>
  <button onclick="location.href='/register'">Register</button>
</body>
</html>
